body{
  background-color: rgb(224, 234, 243);
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.img{
  width: 300px;
  height: 300px;
  margin-top: 50px;
}
.textoFrase{
  font-style: italic;
  color: #dd7b22;
  text-align: center;
  font-size: 1.5rem;
}
.botao{
 box-shadow: 0 0 2px 1px #dd7b22;
 padding: .5rem;
 padding-inline: .8rem;
 border-radius: .2rem;
 border: none;
 outline: none;
 color: #dd7b22;
}